/*

See link below for organization methodology

    http://mirificampress.com/permalink/beautiful_css_organizing_your_stylesheets

*/

/**************** Universal Styles ****************/

/* reset */
* {
    margin:0;
    padding:0;
}

/* shim in html5 tags */
header, section, footer, aside, nav, article, figure {display: block;}

body {
	background-color: #fff;
	font-size: 14px; /* Base font size: 13px */
    line-height: 1.71em;
    text-align: left;
    color: rgba(5, 5, 38, .8);
    font-family:  "Avenir", "Helvetica", sans-serif;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family:  "Avenir", "Helvetica", sans-serif;
}
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.3em}	/* 20px */
h4 {font-size: 1.2em}	/* 18px */
h5 {font-size: 1.1em #888}	/* 16px */
h6 {font-size: 1em} 	/* 14px */
h2, h3, h4, h5, h6 {
	line-height: 1.5em;
    font-weight: 600;
    margin-bottom: .7rem;
}

/* Anchors */
a {
    outline: 0;
    text-decoration: none;
}

a:link, a:visited {
    /* color: #8C98A8; */
    color: #333;
    transition: color .300s;
    transition-timing-function: ease;
}
a:hover, a:active {
    color: #5bcaff;
}


/* Paragraphs */
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}

strong, b {
    font-weight: 600;
}
em, i {
    font-style: italic;
    padding-right: 2px; /* open sans and segoe ui fonts need additional padding */
}

/* rulers */
hr {
    display: block;
    margin: 2em auto;
    width: 95%;
    clear: both;
    border: none;
    border-top: 1px solid #eeedee;
    line-height: 0;
    overflow: visible;
}

/* lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1em 2em;
}

ul ul {
    margin: .25em 0 .25em 2em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1em 2em;
}
ol ol {
    margin: .25em 0 .25em 2em;
}

ol > li {
    padding-left: .3em;
}


li {
    margin-bottom: .2em;
}

dl { margin: 0 0 1.5em 0; }
dt { font-weight: 500; }
dd { margin-left: 1.5em; }

/* quotes */
blockquote {
    /*font-style: italic;*/
    border-left: 1px solid #4A525A;
    padding-left: 1em;
    margin: 1em 0;
}

cite {}
q {}


/* tables */
table {
    margin: .5em auto 1.5em auto;
    width: 100%;
}

th {
    padding: .2em 0;
    text-align: left;
    vertical-align: top;
}

td {
    padding: .2em 0;
    text-align: left;
    vertical-align: top;
}

sup {
    font-size:.8em;
}

code {
    font-family: "Menlo", "Andale Mono", monospace;
}

code.highlighter-rouge {
    border-radius: 3px;
    color: rgba(41, 40, 58, 1);;
    background-color: ghostwhite;
    padding: 2px 4px;
    font-size: .8em;
}


/**************** Layout Styles ****************/

div.container {
    background:white;
    margin:0px auto;
    bottom:0px;
    top:0px;
}

ul.nav{
    font-size: 1em;
    list-style:none;
    margin:0px;
}
ul.nav li{
    float:left;
    margin-right:20px;
}
ul.nav li a {
}


ul#nav-bottom {
    /*position:fixed;*/
}

div#nav-container {
    width:82.5%;
    margin: 0px auto;
}

div#content-container {
    background:white;
}


.content {
    margin:1em auto;
    width: 82.5%;
}

div.post {
}

div.post-date {
    color: #888;
    font-size:.8em;
}
div.advertisement {
    /*background: #fafafa;*/
    float:right;
    color: #888;
    width:110px;

    text-align:center;
    vertical-align: middle;
    padding: 0 10px 0 10px;
    margin: 30px -146px 20px auto;
}



/**************** Library Styles ****************/

div.header-rule {
    border-bottom: 1px solid #E7EAEF;
}
.rounded {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.site-title {
    font-size: 2.2em;
    width:82.5%;
    margin:10px auto;
    font-weight: 600;
    line-height: 1.5em;
    /* font-family: 'Rock Salt', "Avenir", "Helvetica", sans-serif; */
    font-family: "Avenir", "Helvetica", sans-serif;
}
.site-title a {
    /*color: #5bcaff !important;*/
    transition: color .500s;
    transition-timing-function: ease;
    color: #191927;
}
.site-title a:hover {
/*color: #E7EAEF !important;*/
}

img.icon {
    vertical-align:text-bottom;
}

.avatar {
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
    margin: 2em;
}


table.archives td.archive-title {
    max-width:85%;
}
table.archives td.archive-date {
    width: 20%;
    min-width: 50px;
}


.clear {clear:both;} /* clear floated elements */

.post-title a {
    border-bottom: none;
    font-weight: 700;
}
div.post-content a {
    text-decoration: none;
    border-bottom:1px solid rgba(5, 5, 38, 0.09);
}

/* post content styling */
div.post-content h1,
div.post-content h2,
div.post-content h3,
div.post-content h4,
div.post-content h5,
div.post-content h6 {
    margin-top: 1.5rem;
}

/* images at the very top of posts*/


div.post-content figure.fig {
    font-family: "Avenir", "Helvetica", sans-serif;
    font-size: 1rem;
    color: rgba(5, 5, 38, .6);
    text-align: left;
    width: 100%;
    display: table;
    margin-bottom: 1.5em;
}

div.post-content figure.fig img {
    margin: 0;
    cursor:pointer;
}

div.post-content figure.fig figcaption {
    font-family: "Avenir", "Helvetica", sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    display: table-caption;
    caption-side: bottom;
}

div.post-content pre {
    font-family: "Menlo", "Andale Mono", monospace;
    overflow-x:scroll;
    padding: 1.3em 1.5em;
    /* background: rgba(234, 239, 248, 0.50); */
    background-color: #29283a;
    margin: 1em 0;
    font-size: .8em;
    line-height: 1.4em;
    border-radius: 4px;
    color: rgba(248, 248, 255 ,.9 )
}

div.related-post {
    margin: 1em 0px;
    clear:both;
}
div.related-post-date {
    color: #888;
    font-size:.8em;
}

div.related-post-title {

}


.pitch {
    border-top:1px dotted rgba(41, 40, 58, .5);
    border-bottom:1px dotted rgba(41, 40, 58, .5);
    padding:1.4em;
}
.pitch a {
    text-decoration: underline;
    text-decoration-color: #007aff;
}


.post-content {
    font-family: "Lora", "Georgia", serif;
}

.post-content img {
    cursor: pointer;
    max-width:100%;
    margin: 1em 0 0em 0;
    border: 1px solid rgba(134, 139, 148, 0.2);
}

@media screen and (min-width: 800px) {
    body {
        font-size: 15.5px;
    }
    div.container {
        max-width: 50rem;
    }
}

@media (max-width:680px) {
    .content {
        width: 88%;
    }
    .site-title, div#nav-container {
        width: 88%;
    }

}

/* .MathJax_Display {
    margin: 1.25em 0 !important;
} */

#comment-button {
    border: 1px solid #123;
    font-family: Avenir, sans-serif;
    text-align:center;
    padding: 1em;
    cursor: pointer;
    border-radius: 8px;
}
#comment-button:hover {
    border: 1px solid #5bcaff;;
    color: #5bcaff;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.marquee-container {
}

img.marquee-image {
    width:100%;
    margin: 0 auto 1em auto;
}